.nav-container {
    height: 70px;
    background-color: #181a1f;
}

file-upload {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;

}

.button, button {
    position: relative;
    transition: background-color .5s;
    background-color: #00000000;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    /* font-size: 1.5em; */
    border-radius: 0.3rem;
    cursor: pointer;
    /* margin-top: 1rem; */
    border: none;
    margin: 4px;
}

.file-upload {
    padding-top: 1.85rem;
    padding-bottom: .8rem;
}

.button:hover, button:hover {
    background-color: #00000066;
}

.button:active, button:active {
    transition: background-color .1s;
    background-color: #ffffff33;
}

i {
    font-size: 2.5rem;
}

.badge {
    position: absolute;
    right: 0px;
    bottom: 5px;
    font-size: 1em;
}
