.body {
    position: relative;
    background-color: #999999;
    width: 80%;
    height: 80%;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 2px #00000033, 0px 0px 0px 10px #999999;
    
}


.zif {
    position: absolute;
    background-color: #19818b;
    height: 70%;
    width: 40%;
    margin-left:20%;
    margin-top: 10%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.pin-row {
    background-color: #00000022;
    position: absolute;
    height: 75%;
    width: 30%;
    top: 20%;
}

.pin-row.left {
    left: 10%;
}
.pin-row.right {
    right: 10%;
}

.pin {
    background-color: #000000dd;
    position: relative;
    width: 100%;
    height: 3%;
    margin-bottom: 13%;
    display: flex;
}

.pin.left {
    justify-content: flex-end;
}
.pin.right {
    justify-content: flex-start;
}

.occupied-pin {
    background-color: #8b7e5a;
    height: 100%;
    width: 58%;
}
.occupied-pin.DIP32,
.occupied-pin.DIP40,
.occupied-pin.DIP28
{
    width: 86%;
}

.vents {
    position: absolute;
    background-color: #999999;
    width: 10%;
    height: 16%;
    left: -10px;
    bottom: 10%;  
}
.vent {
    background-color: #000000aa;
    position: relative;
    width: 100%;
    height: 10%;
    margin-bottom: 20%;
    border-radius: 0px 2px 2px 0px;
}

.chip {
    background-color: #363131;
    position: absolute;
    top: 18%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 57%;
    width: 64%; */
    font-size: .6em;
}
.chip.DIP28 {
    height: 52%;
    width: 64%;
}
.chip.DIP32 {
    height: 59%;
    width: 64%;
}
.chip.DIP40 {
    height: 74%;
    width: 64%;
}
.chip.DIP8 {
    height: 18%;
    width: 46%;
    font-size: .3em;
}
.chip.DIP14 {
    height: 27%;
    width: 46%;
    font-size: .3em;
}
.chip.DIP20 {
    height: 38%;
    width: 46%;
    font-size: .6em;
}

.notch {
    position: absolute;
    background-color: #19818b;
    width: 16%;
    height: 3px;
    border-radius: 0px 0px 3px 3px;
}

.dot {
    position: absolute;
    background-color: #00000055;
    border: 1px solid #00000099;
    width: .6em;
    height: .6em;
    border-radius: 10px;
    left: 10%;
    top: 6%;
}

.label {
    color: #ffffff99;
    position: absolute;
    /* top: 40%; */
    text-align: center;
    
    writing-mode: vertical-rl;
    height: 100%;

}

