
body {
  /* position: relative; */
  background-color: #282c34;
  height: 100%;
  
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.row {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

}

.programmer-container {
  width: 300px;
  max-height: 400px;
  /* aspect-ratio: .6; */
  margin-left:20px;
  margin-top: 20px;

}

.terminal-container {
    /* transition: all .3s; */
    height: 100%;
    /* width: 100%; */
    background-color: #000000;
    color: #FFFFFF;
    overflow-y:scroll;
    font-size: .7em;
    /* padding: 1em; */
    display: flex;
}

.hex-container {
  /* transition: all .3s; */
  height: 100%;
  /* width: 70%; */
  background-color: #ffffff33;
  display: flex;
}